<section class="about_top_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text_block">
        <p><span class="firstcharacter">T</span><span class="word_part">eenergizer</span> — это не просто молодежный проект, онлайн-платформа или команда креативных подростков, это все вместе взятое и вдохновленное молодыми людьми, желающими изменить этот мир к лучшему. Разрешите представить благотворительную организацию «Объединение подростков и молодежи «Teenergizer», созданную подростками для подростков! Маленький Teenergizer живет в Украине, большой – во всем регионе Восточной Европы Центральной Азии. Вместе мы создаем мир, в котором каждый подросток может реализовать свой потенциал; мир, свободный от дискриминации во всех сферах, включая ВИЧ; мир, в котором права всех подростков и молодежи не нужно защищать, потому что они всецело соблюдаются.</p>
    </div>
</section>

<section class="about_history col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>История</h1>
    <div class="history_container">
        <!--2010-->
        <div class="row_block">
            <div class="card_history bg_card_01">
                <p>ВЦО ЛЖВ выделяет отдельный фокус деятельности — дети и подростки, затронутые ВИЧ</p>
            </div>
            <div class="middle_empty_block"></div>
            <div class="year_history">
                <h2>2010</h2>
            </div>
        </div>
        <!--2011-->
        <div class="row_block">
            <div class="year_history">
                <h2>2011</h2>
            </div>
            <div class="middle_empty_block"></div>
            <div class="card_history bg_card_02">
                <p>На базе ВЦО ЛЖВ проходит «Программа развития лидерства для подростков, затронутых ВИЧ, из стран ВЕЦА» (при поддержке UNICEF-Украина)»</p>
            </div>
        </div>
        <!--2012-->
        <div class="row_block">
            <div class="card_history bg_card_03">
                <p>Подростки реализуют свои инициативы в 7 странах ВЕЦА (при поддержке регионального офиса UNICEF). Публикуется книга «Здесь есть история, похожая на твою»</p>
            </div>
            <div class="middle_empty_block"></div>
            <div class="year_history">
                <h2>2012</h2>
            </div>
        </div>
        <!--2014-->
        <div class="row_block">
            <div class="year_history">
                <h2>2014</h2>
            </div>
            <div class="middle_empty_block"></div>
            <div class="card_history bg_card_04">
                <p>10 ребят, в т.ч. участники «Программы развития лидерства» решают создать единое пространство, где подростки, затронутые ВИЧ, могут делиться знаниями, поддерживать друг друга и создавать новые затеи. Появился наш сайт teenergizer.org</p>
            </div>
        </div>
        <!--2015-->
        <div class="row_block">
            <div class="card_history bg_card_05">
                <p>По инициативе подростков официально зарегистрированы: • Евразийское объединение подростков и молодежи Teenergizer! (участники: Россия, Украина, Беларусь, Грузия, Армения, Казахстан, Кыргызстан, Узбекистан, Эстония) • Объединение подростков и молодёжи Teenergizer! в Украине
                </p>
            </div>
            <div class="middle_empty_block"></div>
            <div class="year_history">
                <h2>2015</h2>
            </div>
        </div>
        <!--2016-->
        <div class="row_block">
            <div class="year_history">
                <h2>2016</h2>
            </div>
            <div class="middle_empty_block"></div>
            <div class="card_history bg_card_06">
                <p>Teenergizer подписал программу с UNICEF по работе с подростками, затронутыми ВИЧ/СПИДом, в Украине</p>
            </div>
        </div>
    </div>
</section>

<section class="that_had col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Что успел Teenergizer</h1>
    <div class="that_had_container">
        <div class="that_had_cards">
            <div class="card_that_had bg_card_07">
                <h2>2000</h2>
                <p>пользователей посещает наш сайт teenergizer.org каждый месяц</p>
            </div>
            <div class="card_that_had bg_card_08">
                <h2>350</h2>
                <p>материалов созданных подростками  опубликовано на нашем сайте</p>
            </div>
        </div>
        <div class="that_had_cards">
            <div class="card_that_had bg_card_09">
                <p>Наши молодые журналисты на протяжении года брали интервью у интересных людей и издали удивительную «Interview book»</p>
            </div>
            <div class="card_that_had bg_card_10">
                <p>Мы запустили мобильное приложение T! app, которое поможет развить такие полезные и важные привычки, как прием АРВ-терапии среди ВИЧ+ подростков</p>
            </div>
            <div class="card_that_had bg_card_11">
                <p>Мы провели десятки мероприятий, тренингов и встреч с участием подростков, затронутых ВИЧ, в 20 областях Украины, в России и Казахстане</p>
            </div>
        </div>
        <div class="that_had_cards">
            <div class="card_that_had bg_card_12">
                <p>Наши волонтеры-тинейджеры самостоятельно проводят тренинги равный-равному и вебинары на темы ВИЧ, гендера и дискриминации</p>
            </div>
            <div class="card_that_had bg_card_13">
                <p>Наши активисты приняли участие в десятке конференций, встреч и круглых столов по вопросам ВИЧ мирового, регионального и национального уровня</p>
            </div>
            <div class="card_that_had bg_card_14">
                <p>Наши активисты представляют интересы подростков региона, затронутых ВИЧ, в координационных комитетах конференций AIDS 2018 Amsterdam и EECAAC-2018 Moscow</p>
            </div>
        </div>
        <div class="that_had_cards">
            <div class="card_that_had bg_card_15">
                <p>В нашей рассылке для профессионалов, родителей и опекунов детей, затронутых ВИЧ, опытом и знаниями делятся более 150 человек</p>
            </div>
            <div class="card_that_had bg_card_16">
                <p>Мы присоединились к Y-PEER, Глобальной сети молодых людей, живущих с ВИЧ при глобальной сети людей, живущих с ВИЧ, вовлечены во всемирную инициативу All In, You Act</p>
            </div>
        </div>
    </div>
</section>

<section class="we_team col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Наша команда</h1>
    <div class="we_team_cards">
        <div class="card_we_team photo_card_01">
            <img class="country_flag" src="css/img/about/ic_map-uk_@2x.png.png" alt="">
            <h2>Влада Фомина</h2>
            <p>Воздушная, полная энергии. Ценю момент, наслаждаюсь жизнью. Люблю узнавать и пробовать что-то новое.</p>
        </div>
        <div class="card_we_team photo_card_01">
            <img class="country_flag" src="css/img/about/ic_map-uk_@2x.png.png" alt="">
            <h2>Даниил Столбунов</h2>
            <p>Я человек, который вопреки всем невзгодам не станет унывать.</p>
        </div>
        <div class="card_we_team photo_card_01">
            <img class="country_flag" src="css/img/about/ic_map-uk_@2x.png.png" alt="">
            <h2>Яна Панфилова</h2>
            <p>Я всегда хотела, кому-то помогать и делать что-то свое, поэтому я в команде Teenergizer!</p>
        </div>
        <div class="card_we_team photo_card_01">
            <img class="country_flag" src="css/img/about/ic_map-uk_@2x.png.png" alt="">
            <h2>Надя Дубчакi</h2>
            <p>Живу, учусь, тусуюсь. Люблю музыку и мучать друзей своим сногсшибательным вокалом.</p>
        </div>
        <div class="card_we_team photo_card_01">
            <img class="country_flag" src="css/img/about/ic_map-uk_@2x.png.png" alt="">
            <h2>Ангелина Сардарян</h2>
            <p>Просто человек. В равной степени похожий и не похожий на других.</p>
        </div>
        <div class="card_we_team photo_card_01">
            <img class="country_flag" src="css/img/about/ic_map-uk_@2x.png.png" alt="">
            <h2>Яна Вальчук</h2>
            <p>Есть много разных вещей, которые мне нравятся. Я люблю общаться, слушать и получать интересную информацию.</p>
        </div>
    </div>

    <section class="go_to_questionary">
        <p>Если у тебя активная жизненная позиция, тебе есть, что сказать этому миру или ты просто хочешь заниматься хорошим делом, добро пожаловать в команду Teenergizer!</p>
        <a ui-sref="layout.home" class="question_button">анкета</a>
    </section>
</section>

